<nav class="navbar navbar-expand-lg navbar-light bg-black fixed-top">
    <div class="container">
        <a class="navbar-brand" href="/index.html">
            <img src="/imgs/logo.png" width="48" height="48" class="rounded float-start" alt="WipMod">
        </a>

        <!-- Toggler button for small screens -->
        <button class="navbar-toggler"
                type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSdCt"
                aria-controls="navbarSdCt"
                aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Collapsible content -->
        <div class="collapse navbar-collapse" id="navbarSdCt">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link text-white" href="/index.html">
                        Home
                    </a>
                </li>
                <li class="nav-item">
                    <a class="visually-hidden nav-link text-white link-underline-opacity-100-hover" href="/about.html">
                        About Us
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="/contacts.html">
                        Contact Me
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="/mods.html">
                        Mods
                    </a>
                </li>
            </ul>
<!--            Lo aggiungerò dopo per ora non ha contenuti che dovrebbe cercare-->
            <form class="d-flex visually-hidden">
                <input class="form-control me-2"
                       type="search"
                       placeholder="Search"
                       aria-label="Search">
                <button class="btn btn-outline-success"
                        type="submit">
                    Search
                </button>
            </form>
        </div>
    </div>
</nav>
